*, *::before, *::after  {
    box-sizing: border-box;
}

/* Font Sizing */

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p,
li {
    font-size: 1.75rem;
}

span {
    font-size: 1.25rem;
}

footer span {
    font-size: 1rem;
}

/* Base Styles */

.flex {
    display: flex;
}

body {
    flex-wrap: wrap;

    font-family: "Open Sans", sans-serif;
    justify-content: center;
}

.column {
    flex: 0 0 50%;
    flex-direction: column;
}

header,
main {
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;

    transition: all 250ms ease-in-out 25ms;
}

a:hover {
    /* color: lightgrey; */
    color: rgb(10, 112, 10);
}


/* Layout */

/* Header Styles */

header {
    font-family: "Montserrat", sans-serif;
}

header h1 {
    margin: 0;
    text-decoration: underline rgb(10, 112, 10);
}

header span {
    margin-bottom: 15px;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

/* Main Styles */

.content h2 {
    margin: 0;
}

.content p {
    text-align: justify;
}

.content li {
    margin-right: 20px;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0 3% 0;
}

.icon-container i {
    font-size: 5rem;
}

/* Contact */

form label {
    font-size: 1rem;
}

form input,
form textarea {
    font-size: 1.85rem;
    display: block;
    width: 100%;
    padding: 2%;
}

form input:focus,
form textarea:focus {
    outline: 3px solid rgb(10, 112, 10);
    border-radius: 0;
}

/* Footer Styles */

footer {
    flex: 0 0 100%;
    text-align: center;
}

footer i {
    color: rgb(10, 112, 10);
}

/* Media Queries */

@media screen and (max-width: 600px) {
    
    header {
        align-items: center;
    }

    body {
        flex-wrap: wrap;
    }

    .column {
        flex-basis: 100%;
        flex-direction: column;
    }
    
    header img {
        width: 50%;
        border-radius: 50%;
    }
}